In [37]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import joblib

In [38]:
data = pd.read_csv('../data/rent_lagos.csv')

In [39]:
data = data.drop('address',axis=1)

target = data['rent_per_annum']
features = data.drop('rent_per_annum',axis=1)

In [40]:
model = joblib.load('price_model.joblib')
housing_encoder = joblib.load('housing_encoder.pk1')
district_encoder = joblib.load('district_encoder.pk1')

In [41]:
features['housing_type'] = housing_encoder.transform(features['housing_type'])
features['district'] = district_encoder.transform(features['district'])

In [42]:
data.head()

,housing_type,bedrooms,bathrooms,guest_toilet,parking_space,district,rent_per_annum
0,flat / apartment,3,4,1,0,lekki,5000000.0
1,flat / apartment,2,2,1,0,lekki,3000000.0
2,flat / apartment,3,3,1,0,victoria island,4500000.0
3,flat / apartment,2,2,1,0,lekki,4000000.0
4,flat / apartment,2,2,0,2,lekki,3500000.0

In [43]:
unique_values = data['district'].unique()
unique_values

array(['lekki', 'victoria island', 'ojodu', 'yaba', 'surulere', 'ikoyi',
       'ajah', 'gbagada', 'ikeja', 'ketu ogudu', 'ikeja gra', 'ogba',
       'oshodi', 'ikotun', 'ketu shangisha', 'oregun', 'igando',
       'allen avenue', 'agege', 'isolo', 'mushin', 'apapa', 'ketu ikosi',
       'ikorodu', 'abule egba', 'oshodi ajao', 'ikeja adeniyi jones',
       'opebi', 'oniru', 'oshodi mafoluku', 'isolo jakande',
       'isolo ago palace', 'ejigbo', 'maryland', 'iju ishaga', 'festac',
       'agbara', 'alimosho', 'okota', 'iju  ', 'idimu', 'alagbado',
       'ketu ojota', 'irepo', 'iya ipaja', 'ijora ebute metta',
       'lagos island', 'oke afa', 'ifako', 'badagry', 'agbado ijaiye',
       'satellite town', 'onikan'], dtype=object)

In [44]:
print(features.iloc[2:3])

   housing_type  bedrooms  bathrooms  guest_toilet  parking_space  district
2             2         3          3             1              0        51

In [45]:
index = 1
response = model.predict(features.iloc[2:3])
print(response, target[2])

[3334986.2] 4500000.0